<div class="col s8 margin-top">
	<div class="col s4">
		<img src="https://images-na.ssl-images-amazon.com/images/I/41caDQc%2BEXL.jpg">
	</div>
	<div class="col s6">
		<p>Título</p>
		<p>por Autor</p>
	</div>
	<div class="col s2">
		Editorial, año
	</div>
</div>
<div class="col s4">
</div>