<div class="col s8">	
	<div class="col s3 image-content">
		<img src="https://images-na.ssl-images-amazon.com/images/I/41caDQc%2BEXL.jpg" style="width: 170px;">
	</div>
	<div class="col s6">
		<p><b>Título</b></p>
		<p>por Autor</p>
	</div>
	<div class="col s2 full-height book-card-data vertical-divider">
		Editorial, año
	</div>
</div>
<div class="col s4 book-card-height valign-wrapper">
	<div class="col s6">
		<p class="grey-text text-darken-1">STATUS</p>
	</div>
	<div class="col s6">
		<button class="btn btn-large waves-effect orange bold font-large">Apartar</button>
	</div>
</div>
<div class="divider col s12 grey lighten-1"></div>