<div class="nav-bar no-margin row padded blue lighten-2">
	<div class="col s6">{{#link-to 'home' class="white-text logo-nav"}}Bibliotewa{{/link-to}}</div>
	{{#if session.currentUser}}
		<div class="right-align nav-drop">
			{{#jquery-wrapper
				query='.dropdown-button'
				method='dropdown'
			}}
				<a class="clickable dropdown-button white-text" data-activates="profile-drop">
					<span class="valign-wrapper">
						<i class="material-icons small-margin-right">person</i>¡Hola {{session.currentUser.name}}! <i class="material-icons small-margin-left">keyboard_arrow_down</i>
					</span>
				</a>
			{{/jquery-wrapper}}
		</div>
		<ul id="profile-drop" class="dropdown-content profile-dropdown">
			{{#if session.currentUser.isAdmin}}
				<li>
					{{#link-to 'admin'}}
						<span class="valign-wrapper blue-text">
							<i class="material-icons small-margin-right">verified_user</i> Admin
						</span>
					{{/link-to}}
				</li>
			{{/if}}
			<li>
				<a {{action 'signOut' on=click}}>
					<span class="valign-wrapper blue-text">
						<i class="material-icons small-margin-right">exit_to_app</i> Cerrar sesión
					</span>
				</a>
			</li>
			<li><a href="#">wawaw</a></li>
		</ul>
	{{else}}
		<div class="col s6 right-align">{{#link-to 'login' class='white-text'}}Iniciar Sesión{{/link-to}}</div>
	{{/if}}
</div>
{{yield}}
