<ul id="slide-out" class="side-nav fixed blue">
	<li>{{#link-to  'admin.profile' class="white-text"}}<i class="material-icons white-text">person</i> Ver Perfil{{/link-to}}</li>
	<li>{{#link-to  'admin.books.list' class="white-text"}}<i class="material-icons white-text">book</i> Libros{{/link-to}}</li>
	<li>{{#link-to  'admin.loans' class="white-text"}}<i class="material-icons white-text">edit</i> Préstamos{{/link-to}}</li>
</ul>
{{yield}}