<ul id="slide-out" class="side-nav fixed blue">
	<li>{{#link-to  'admin.profile' class="white-text"}}Ver Perfil{{/link-to}}</li>
	<li>{{#link-to  'admin.books' class="white-text"}}Libros{{/link-to}}</li>
	<li>{{#link-to  'admin.loans' class="white-text"}}Pŕestamos{{/link-to}}</li>
</ul>
{{yield}}