/*General Classes*/

.bold {	font-weight: bold; }

.no-margin { margin: 0 !important; }

.no-padding { padding: 0 !important; }
.padded { padding: 1em !important; }

.absolute {	position: absolute; }

.font-large { font-size: 1.3em; }

.small-margin-right { margin-right: .5em; }
.small-margin-top { margin-top: .5em; }
.margin-bottom { margin-bottom: 1em; }
.margin-top { margin-bottom: 1em; }
.large-margin-bottom { margin-bottom: 2em; }

.padding-top { margin-top: 1em; }
.large-padding-top { margin-top: 2em; }
.large-padding-right { padding-right: 4em !important; }
.large-padding-left { padding-left: 4em !important; }

.clickable { cursor: pointer; }

.full-height { height: 100%; }

.add-btn {
	position: absolute;
	z-index: 100;
	bottom: 15px;
	right: 15px;
}

.vertical-divider {
	border-right: 1px solid #bdbdbd;
	border-radius: 5px;
	height: 210px;
}

/*Bibliotewa Classes*/

.bibliotewa-input:focus {
	border-bottom: 1px solid #2196f3 !important;
}

/*HOME Classes*/

.home-page {
	width: 100%;
	height: 93vh;
}

.home-btn {
	height: 45px;
}

.home-title {
	padding-top: 22vh;
	margin-top: 0;
	margin-bottom: 5vh;
	font-size: 9em;
	font-weight: bold;
}

/*input-field*/

.input-field i {
    top: 30%;
    transform: translateY(-40%);
    text-align: left;
    font-size: 30px;
    padding-left: .2em;
}

.input-field .home-input {
	padding-left: 2.9em !important;
}

/*Login classes*/

.login-form {
	margin-top: 15vh;
}

.login-btn {
	position: absolute;
	top: 72vh;
}

/*nav-bar*/

.logo-nav {
	font-size: 1.2em;
	font-weight: bold;
}

.nav-bar {
	font-size: 1.2em;
}

.nav-drop {
	position: absolute;
	top: 18px;
	right: 18px;
}

/*side-nav*/

.side-nav {
	z-index: -1;
	padding-top: 5em;
}

.side-nav li a {
	font-size: 1.2em !important;
}

/*Dropdown*/

.profile-dropdown {
	color: #2196f3 !important;
	top: 25px;
	width: 10em !important;
}

/*Admin Classes*/

.admin-form {
	padding: 3em !important; 
}

.admin-label {
	font-size: 27px;
	color: black;
	font-weight: bold;
}

/*Images*/

.image-wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 200px;
}

.book-image {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 300px;
}

.image-content {
	background-color: #b1b1b1;
	width: 50%;
	height: 100%;
}

/*Book Card*/

.book-card {
	padding-top: 3em;
}

.book-card-height {
	height: 200px;
}

.book-card-data {
	padding-top: 185px !important;
}